# <font color=#cc0012>Prosper</font>

Prosper was founded in 2005 as the first peer-to-peer lending marketplace in the United States. Since then, Prosper has facilitated more than $14 billion in loans to more than 870,000 people.

Borrowers apply online for a fixed-rate, fixed-term loan between \$2000 and \$40000. Individuals and institutions can invest in the loans and earn attractive returns. Prosper handles all loan servicing on behalf of the matched borrowers and investors.

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv("prosper-loan-data.csv")

In [4]:
df.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [32]:
keys = ["ListingKey","ListingCreationDate","LoanOriginationDate","DateCreditPulled","CreditGrade","Term","ListingCategory (numeric)","LoanOriginalAmount","BorrowerRate","EstimatedReturn","LoanStatus","StatedMonthlyIncome","IsBorrowerHomeowner","ProsperPrincipalBorrowed","ProsperPrincipalOutstanding"]

In [33]:
df[keys]

,ListingKey,ListingCreationDate,LoanOriginationDate,DateCreditPulled,CreditGrade,Term,ListingCategory (numeric),LoanOriginalAmount,BorrowerRate,EstimatedReturn,LoanStatus,StatedMonthlyIncome,IsBorrowerHomeowner,ProsperPrincipalBorrowed,ProsperPrincipalOutstanding
0,1021339766868145413AB3B,2007-08-26 19:09:29.263000000,2007-09-12 00:00:00,2007-08-26 18:41:46.780000000,C,36,0,9425,0.1580,NaN,Completed,3083.333333,True,NaN,NaN
1,10273602499503308B223C1,2014-02-27 08:28:07.900000000,2014-03-03 00:00:00,2014-02-27 08:28:14,NaN,36,2,10000,0.0920,0.05470,Current,6125.000000,False,NaN,NaN
2,0EE9337825851032864889A,2007-01-05 15:00:47.090000000,2007-01-17 00:00:00,2007-01-02 14:09:10.060000000,HR,36,0,3001,0.2750,NaN,Completed,2083.333333,False,NaN,NaN
3,0EF5356002482715299901A,2012-10-22 11:02:35.010000000,2012-11-01 00:00:00,2012-10-22 11:02:32,NaN,36,16,10000,0.0974,0.06000,Current,2875.000000,True,NaN,NaN
4,0F023589499656230C5E3E2,2013-09-14 18:38:39.097000000,2013-09-20 00:00:00,2013-09-14 18:38:44,NaN,36,2,15000,0.2085,0.09066,Current,9583.333333,True,11000.0,9947.90
5,0F05359734824199381F61D,2013-12-14 08:26:37.093000000,2013-12-24 00:00:00,2013-12-14 08:26:40,NaN,60,1,15000,0.1314,0.07077,Current,8333.333333,True,NaN,NaN
6,0F0A3576754255009D63151,2013-04-12 09:52:56.147000000,2013-04-18 00:00:00,2013-04-12 09:52:53,NaN,36,1,3000,0.2712,0.11070,Current,2083.333333,False,NaN,NaN
7,0F1035772717087366F9EA7,2013-05-05 06:49:27.493000000,2013-05-13 00:00:00,2013-05-05 06:49:25,NaN,36,2,10000,0.2019,0.09840,Current,3355.750000,False,NaN,NaN
8,0F043596202561788EA13D5,2013-12-02 10:43:39.117000000,2013-12-12 00:00:00,2013-12-02 10:43:39,NaN,36,7,10000,0.0629,0.04231,Current,3333.333333,True,NaN,NaN
9,0F043596202561788EA13D5,2013-12-02 10:43:39.117000000,2013-12-12 00:00:00,2013-12-02 10:43:39,NaN,36,7,10000,0.0629,0.04231,Current,3333.333333,True,NaN,NaN
10,0F123545674891886D9F106,2012-05-10 07:04:01.577000000,2012-05-17 00:00:00,2012-04-22 08:38:09,NaN,60,1,13500,0.2489,0.14420,Current,7500.000000,False,NaN,NaN
11,0F1734025150298088A5F2B,2007-10-09 20:28:33.640000000,2007-10-18 00:00:00,2007-10-08 13:13:44.363000000,C,36,0,1000,0.1325,NaN,Completed,1666.666667,False,NaN,NaN
12,0F1A3597143888805163EF7,2013-12-15 20:01:10.757000000,2014-01-07 00:00:00,2013-12-15 20:01:13,NaN,36,1,4000,0.1435,0.07400,Past Due (1-15 days),2416.666667,False,NaN,NaN
13,0F1C3583260311305D68F87,2013-07-15 16:28:28.087000000,2013-07-18 00:00:00,2013-07-11 16:51:03,NaN,36,1,8500,0.1034,0.06310,Current,5833.333333,True,NaN,NaN
14,0F353575943675863D1AFC0,2013-04-19 11:17:41.700000000,2013-05-13 00:00:00,2013-04-19 11:17:38,NaN,60,1,19330,0.0949,0.06030,Current,10833.333333,False,NaN,NaN
15,0F483544120452347F48121,2012-04-10 09:14:46.297000000,2012-04-19 00:00:00,2012-04-10 09:14:41,NaN,36,13,4000,0.3177,0.12460,Defaulted,5500.000000,True,NaN,NaN
16,0F4835843081468212F0892,2013-07-16 12:42:48.680000000,2013-07-18 00:00:00,2013-07-16 12:42:39,NaN,60,6,4000,0.2809,0.12480,Current,8291.666667,True,10700.0,4064.87
17,0FDF336575182398852A8DC,2006-08-15 12:21:09.433000000,2006-08-22 00:00:00,2006-08-15 10:56:13.020000000,AA,36,0,10000,0.1250,NaN,Chargedoff,5833.333333,True,NaN,NaN
18,0FF2357105361877390B58D,2013-02-20 03:48:37.470000000,2013-03-11 00:00:00,2013-02-20 03:48:33,NaN,36,1,15000,0.0974,0.06000,Current,6250.000000,False,NaN,NaN
19,0FFC35866018516621B0D3F,2013-08-21 06:49:02.093000000,2013-10-10 00:00:00,2013-10-04 17:49:53,NaN,60,1,6500,0.2225,0.09270,Current,3075.000000,False,8000.0,5786.00
20,101635959323992333B3C70,2013-11-22 11:35:02.987000000,2013-11-29 00:00:00,2013-11-22 11:35:09,NaN,36,1,14000,0.1314,0.07077,Current,5166.666667,True,NaN,NaN
21,1017340630713945364DA6B,2007-11-30 20:33:49.227000000,2007-12-12 00:00:00,2007-11-11 14:24:41.350000000,D,36,0,3000,0.2075,NaN,Completed,3750.000000,False,NaN,NaN
22,101735700321773921526BF,2013-01-30 09:36:13.783000000,2013-02-05 00:00:00,2013-01-30 09:36:09,NaN,36,1,4000,0.3134,0.11850,Current,118.333333,False,NaN,NaN
23,101B35764008108187B2EBA,2013-04-22 13:29:19.073000000,2013-04-26 00:00:00,2013-04-22 13:29:14,NaN,36,15,2000,0.2419,0.10510,Defaulted,2500.000000,False,NaN,NaN
24,101B3596709094692AC79C0,2013-12-03 11:34:46.127000000,2013-12-18 00:00:00,2013-12-03 11:34:55,NaN,36,1,4000,0.1620,0.07766,Current,2333.333333,True,NaN,NaN
25,10223590888942486E3826E,2013-10-02 14:31:09.157000000,2013-10-10 00:00:00,2013-09-21 15:33:38,NaN,36,15,4000,0.2629,0.10307,Current,6974.000000,False,NaN,NaN
26,0F4F3571508214190FD75CB,2013-02-12 18:07:31.690000000,2013-02-21 00:00:00,2013-02-12 18:07:23,NaN,60,1,4000,0.2809,0.12480,Completed,3885.916667,False,NaN,NaN
27,0F5034867864161084F3789,2010-06-16 16:23:44.533000000,2010-06-24 00:00:00,2010-06-04 10:18:55,NaN,36,1,4000,0.0920,0.06080,Completed,6666.666667,True,NaN,NaN
28,0F53359346357513247D86B,2013-11-02 16:01:28.050000000,2013-11-13 00:00:00,2013-11-02 16:01:30,NaN,36,2,10000,0.1660,0.08421,Current,3600.000000,True,NaN,NaN
29,0F563597161095613517437,2013-12-17 09:18:33.220000000,2014-01-16 00:00:00,2013-12-17 09:18:36,NaN,36,1,35000,0.1239,0.06910,Current,10416.666667,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113907,C982359388882926442DE72,2013-11-09 06:55:05.690000000,2013-11-13 00:00:00,2013-11-09 06:55:07,NaN,36,1,4000,0.3134,0.11348,Current,2166.666667,False,NaN,NaN
113908,C9843500054876019D611A1,2010-11-29 10:40:09.730000000,2010-12-08 00:00:00,2010-11-22 20:51:48,NaN,36,3,7500,0.3220,0.15570,Completed,2833.333333,False,NaN,NaN
113909,C98635564651525938EB38E,2012-09-08 10:34:38.837000000,2012-09-17 00:00:00,2012-09-08 10:34:37,NaN,60,2,6000,0.2498,0.14920,Current,3333.333333,True,NaN,NaN
113910,C9873600264828351437CAB,2014-01-24 19:56:49.960000000,2014-01-29 00:00:00,2014-01-22 10:53:45,NaN,36,1,4000,0.2850,0.10256,Current,18756.000000,False,NaN,NaN
113911,C9883594035073098BC5D51,2013-11-15 11:42:47.540000000,2013-11-27 00:00:00,2013-11-15 11:42:47,NaN,36,14,10000,0.2155,0.09167,Current,3333.333333,False,NaN,NaN
113912,C98A3597264633447D66DF9,2013-12-16 16:36:00.990000000,2013-12-20 00:00:00,2013-12-16 16:36:03,NaN,36,2,4000,0.0605,0.04260,Current,2500.000000,False,6000.0,0.00
113913,D2013482695428940FAD9E3,2010-04-25 15:13:27.963000000,2010-05-05 00:00:00,2010-04-25 15:02:40,NaN,36,1,8000,0.1030,0.07170,Completed,9750.000000,True,NaN,NaN
113914,D20533652658825353F6597,2006-08-09 14:34:40.010000000,2006-08-18 00:00:00,2006-08-09 14:32:18.527000000,HR,36,0,3000,0.2500,NaN,Defaulted,2400.000000,False,NaN,NaN
113915,D2053427325575423785798,2008-07-29 05:22:29.390000000,2008-08-06 00:00:00,2008-07-23 07:48:01.427000000,D,36,7,3000,0.2000,NaN,Completed,4416.666667,True,6001.0,0.00
113916,D2063562664602024E13D82,2012-11-08 20:07:36.600000000,2012-11-28 00:00:00,2012-10-27 21:31:23,NaN,36,13,4000,0.2932,0.11500,Current,4583.333333,False,NaN,NaN
113917,D2063594229009539839457,2013-11-23 04:52:50.057000000,2013-11-29 00:00:00,2013-11-23 04:52:52,NaN,36,1,4000,0.2850,0.10256,Current,1916.666667,False,NaN,NaN
113918,D207342464194217591D1E1,2008-06-19 12:02:53.300000000,2008-06-27 00:00:00,2008-06-19 10:02:10.457000000,A,36,4,7000,0.1080,NaN,Defaulted,5583.333333,True,NaN,NaN
113919,D20C3577637248543A1F80C,2013-05-07 18:49:59.750000000,2013-05-14 00:00:00,2013-05-07 18:49:57,NaN,36,2,4000,0.2346,0.10390,Current,2500.000000,True,NaN,NaN
113920,D20E358076984586576526D,2013-06-11 05:49:40.247000000,2013-06-13 00:00:00,2013-06-11 05:49:29,NaN,36,1,4000,0.3134,0.11850,Current,5208.333333,True,12000.0,7340.92
113921,D21A33647075665665BE266,2005-11-09 20:44:28.847000000,2005-11-15 00:00:00,2005-11-09 20:44:28.847000000,AA,36,0,1000,0.0400,NaN,Completed,12500.000000,False,NaN,NaN
113922,D2293427338962159DA5143,2008-08-08 16:58:54.760000000,2008-08-19 00:00:00,2008-08-08 16:44:27.820000000,C,36,5,5000,0.1295,NaN,Completed,5250.000000,True,NaN,NaN
113923,E334343080922352965DF86,2008-09-10 08:26:30.537000000,2008-09-23 00:00:00,2008-09-10 08:24:33.180000000,B,36,1,8000,0.2089,NaN,Completed,3966.666667,True,NaN,NaN
113924,E340356181565702714DBCE,2012-10-20 19:15:52.670000000,2012-10-23 00:00:00,2012-10-20 19:15:50,NaN,60,13,5000,0.1499,0.09970,Current,3208.333333,False,9300.0,5094.62
113925,E3423576946812123E4798D,2013-04-25 13:54:45.017000000,2013-05-08 00:00:00,2013-04-25 06:58:37,NaN,36,1,4000,0.2712,0.11070,Current,2333.333333,False,NaN,NaN
113926,E34333654295683286C35C2,2006-08-01 10:31:31.143000000,2006-08-08 00:00:00,2006-08-01 10:10:42.370000000,E,36,0,3000,0.2900,NaN,Defaulted,5416.666667,False,NaN,NaN
113927,E3433419834735803891976,2008-04-30 21:25:19.670000000,2008-05-09 00:00:00,2008-04-30 21:20:54.587000000,AA,36,4,4292,0.0679,NaN,Completed,10333.333333,True,1000.0,847.61
113928,E34935176664905343E01EA,2011-06-06 19:02:44.443000000,2011-06-10 00:00:00,2011-06-03 16:06:00,NaN,36,3,2000,0.1899,0.11470,Completed,2333.333333,False,14250.0,0.02
113929,E3553583161337791FCB87F,2013-07-06 17:40:01.657000000,2013-07-10 00:00:00,2013-07-06 17:39:52,NaN,36,2,2500,0.2639,0.10930,Completed,4333.333333,False,NaN,NaN
113930,E35D3584034795373BCD69A,2013-07-08 10:24:49.700000000,2013-07-10 00:00:00,2013-07-08 10:24:38,NaN,36,1,3000,0.1639,0.08780,Current,6250.000000,True,2000.0,889.75
113931,E36F36005339663245C20F8,2014-01-16 20:13:08.040000000,2014-01-22 00:00:00,2014-01-03 10:17:23,NaN,60,3,25000,0.1274,0.06970,Current,8146.666667,False,NaN,NaN
113932,E6D9357655724827169606C,2013-04-14 05:55:02.663000000,2013-04-22 00:00:00,2013-04-14 05:54:58,NaN,36,1,10000,0.1864,0.09500,Current,4333.333333,True,NaN,NaN
113933,E6DB353036033497292EE43,2011-11-03 20:42:55.333000000,2011-11-07 00:00:00,2011-11-03 20:42:53,NaN,36,7,2000,0.1110,0.08070,FinalPaymentInProgress,8041.666667,True,33501.0,4815.42
113934,E6E13596170052029692BB1,2013-12-13 05:49:12.703000000,2013-12-23 00:00:00,2013-12-13 05:49:15,NaN,60,1,10000,0.2150,0.08578,Current,2875.000000,True,NaN,NaN
113935,E6EB3531504622671970D9E,2011-11-14 13:18:26.597000000,2011-11-21 00:00:00,2011-11-14 13:18:24,NaN,60,2,15000,0.2605,0.15950,Completed,3875.000000,True,5000.0,3264.37
113936,E6ED3600409833199F711B7,2014-01-15 09:27:37.657000000,2014-01-21 00:00:00,2014-01-15 09:27:40,NaN,36,1,2000,0.1039,0.06081,Current,4583.333333,False,NaN,NaN