# <font color=#cc0012>Prosper</font>

Prosper was founded in 2005 as the first peer-to-peer lending marketplace in the United States. Since then, Prosper has facilitated more than $14 billion in loans to more than 870,000 people.

Borrowers apply online for a fixed-rate, fixed-term loan between \$2000 and \$40000. Individuals and institutions can invest in the loans and earn attractive returns. Prosper handles all loan servicing on behalf of the matched borrowers and investors.

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv("prosper-loan-data.csv")

In [4]:
df.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [32]:
keys = ["ListingKey","ListingCreationDate","LoanOriginationDate","DateCreditPulled","CreditGrade","Term","ListingCategory (numeric)","LoanOriginalAmount","BorrowerRate","EstimatedReturn","LoanStatus","StatedMonthlyIncome","IsBorrowerHomeowner","ProsperPrincipalBorrowed","ProsperPrincipalOutstanding"]

In [34]:
df[keys].head()

,ListingKey,ListingCreationDate,LoanOriginationDate,DateCreditPulled,CreditGrade,Term,ListingCategory (numeric),LoanOriginalAmount,BorrowerRate,EstimatedReturn,LoanStatus,StatedMonthlyIncome,IsBorrowerHomeowner,ProsperPrincipalBorrowed,ProsperPrincipalOutstanding
0,1021339766868145413AB3B,2007-08-26 19:09:29.263000000,2007-09-12 00:00:00,2007-08-26 18:41:46.780000000,C,36,0,9425,0.1580,NaN,Completed,3083.333333,True,NaN,NaN
1,10273602499503308B223C1,2014-02-27 08:28:07.900000000,2014-03-03 00:00:00,2014-02-27 08:28:14,NaN,36,2,10000,0.0920,0.05470,Current,6125.000000,False,NaN,NaN
2,0EE9337825851032864889A,2007-01-05 15:00:47.090000000,2007-01-17 00:00:00,2007-01-02 14:09:10.060000000,HR,36,0,3001,0.2750,NaN,Completed,2083.333333,False,NaN,NaN
3,0EF5356002482715299901A,2012-10-22 11:02:35.010000000,2012-11-01 00:00:00,2012-10-22 11:02:32,NaN,36,16,10000,0.0974,0.06000,Current,2875.000000,True,NaN,NaN
4,0F023589499656230C5E3E2,2013-09-14 18:38:39.097000000,2013-09-20 00:00:00,2013-09-14 18:38:44,NaN,36,2,15000,0.2085,0.09066,Current,9583.333333,True,11000.0,9947.9

In [36]:
loans = df[keys]

## <font color=#b30069> Assessment </font>

In [37]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 15 columns):
ListingKey                     113937 non-null object
ListingCreationDate            113937 non-null object
LoanOriginationDate            113937 non-null object
DateCreditPulled               113937 non-null object
CreditGrade                    28953 non-null object
Term                           113937 non-null int64
ListingCategory (numeric)      113937 non-null int64
LoanOriginalAmount             113937 non-null int64
BorrowerRate                   113937 non-null float64
EstimatedReturn                84853 non-null float64
LoanStatus                     113937 non-null object
StatedMonthlyIncome            113937 non-null float64
IsBorrowerHomeowner            113937 non-null bool
ProsperPrincipalBorrowed       22085 non-null float64
ProsperPrincipalOutstanding    22085 non-null float64
dtypes: bool(1), float64(5), int64(3), object(6)
memory usage: 9.7+ MB

In [56]:
loans[(loans["CreditGrade"].isnull()) & (loans["ProsperPrincipalBorrowed"].notnull())]

,ListingKey,ListingCreationDate,LoanOriginationDate,DateCreditPulled,CreditGrade,Term,ListingCategory (numeric),LoanOriginalAmount,BorrowerRate,EstimatedReturn,LoanStatus,StatedMonthlyIncome,IsBorrowerHomeowner,ProsperPrincipalBorrowed,ProsperPrincipalOutstanding
4,0F023589499656230C5E3E2,2013-09-14 18:38:39.097000000,2013-09-20 00:00:00,2013-09-14 18:38:44,NaN,36,2,15000,0.2085,0.09066,Current,9583.333333,True,11000.0,9947.90
16,0F4835843081468212F0892,2013-07-16 12:42:48.680000000,2013-07-18 00:00:00,2013-07-16 12:42:39,NaN,60,6,4000,0.2809,0.12480,Current,8291.666667,True,10700.0,4064.87
19,0FFC35866018516621B0D3F,2013-08-21 06:49:02.093000000,2013-10-10 00:00:00,2013-10-04 17:49:53,NaN,60,1,6500,0.2225,0.09270,Current,3075.000000,False,8000.0,5786.00
33,0F6B3496936961316AEE1B2,2010-10-10 13:23:30.757000000,2010-10-26 00:00:00,2010-10-10 13:23:26,NaN,36,7,16000,0.0785,0.05550,Completed,13083.333333,False,4000.0,0.01
47,0F8B3577039176552F6CC26,2013-05-01 08:18:59.183000000,2013-05-13 00:00:00,2013-05-01 08:18:52,NaN,36,1,15000,0.1299,0.07490,Current,5416.666667,True,27000.0,11308.14
54,0FBC3556025226720BE6DD4,2012-08-26 09:43:38.643000000,2012-08-31 00:00:00,2012-08-26 09:43:36,NaN,60,2,18000,0.1852,0.12720,Current,10000.000000,True,8000.0,6384.14
58,0FF735841515827770331DF,2013-07-22 08:03:33.437000000,2013-07-24 00:00:00,2013-07-22 08:03:24,NaN,60,1,8000,0.1519,0.08760,Current,4666.666667,False,15000.0,0.00
61,10223596029543318E1A9FB,2013-12-05 11:15:32.567000000,2013-12-09 00:00:00,2013-12-05 11:15:38,NaN,36,19,2000,0.1274,0.06970,Current,7108.333333,True,19000.0,0.01
67,0F2535122339224397B0FB9,2011-03-25 17:20:01.857000000,2011-06-27 00:00:00,2011-06-08 11:59:05,NaN,12,1,3000,0.2669,0.11520,Completed,4777.000000,False,6000.0,4509.40
69,0F37360159310530849DA23,2014-01-25 12:07:54.537000000,2014-01-29 00:00:00,2014-01-25 11:51:41,NaN,60,1,9000,0.1139,0.06499,Current,2700.000000,True,7861.0,0.02
77,0DFD35069860903300C7973,2011-02-17 05:52:07.960000000,2011-02-24 00:00:00,2011-02-17 05:52:03,NaN,36,6,5600,0.1099,0.04880,Completed,6466.666667,True,7500.0,6406.25
82,10623584773904550935540,2013-07-18 05:09:06.357000000,2013-07-19 00:00:00,2013-07-18 05:08:59,NaN,36,7,4000,0.2932,0.11500,Past Due (16-30 days),4166.666667,False,3000.0,2428.26
87,107D3547498442173689AFA,2012-05-30 08:40:11.343000000,2012-06-01 00:00:00,2012-05-30 08:40:09,NaN,36,1,4000,0.2999,0.12760,Completed,3333.333333,True,4000.0,3049.25
97,1008356191184551964B1C4,2012-10-26 11:59:35.153000000,2012-11-07 00:00:00,2012-10-26 11:59:33,NaN,36,7,2000,0.1939,0.09650,Current,1500.000000,False,2000.0,0.00
98,0F653600910253363BBD659,2014-01-26 10:13:04.513000000,2014-01-28 00:00:00,2014-01-26 10:13:07,NaN,36,1,4000,0.1355,0.07192,Current,6000.000000,True,2500.0,0.00
99,0F663588983215130695EB3,2013-09-03 08:45:13.893000000,2013-09-19 00:00:00,2013-09-03 08:44:54,NaN,60,2,10000,0.0869,0.05520,Current,3750.000000,False,20000.0,16608.37
100,0F67356860455769574096F,2013-01-25 11:48:26.040000000,2013-01-30 00:00:00,2013-01-11 12:10:13,NaN,36,13,4000,0.3134,0.11850,Chargedoff,0.000000,False,5000.0,3802.10
102,0F823461624751165710F76,2009-08-25 13:37:08.130000000,2009-09-15 00:00:00,2009-08-25 13:28:06,NaN,36,1,10000,0.1338,0.10240,Completed,15000.000000,True,15000.0,10218.19
103,0F843543787869030F017F8,2012-04-17 11:58:52.270000000,2012-04-19 00:00:00,2012-04-17 11:58:46,NaN,36,3,15000,0.2287,0.11440,Chargedoff,5000.000000,True,15000.0,3813.03
106,0F8B35317926570441EA191,2011-11-09 05:28:07.977000000,2011-11-18 00:00:00,2011-11-09 05:28:05,NaN,36,1,10000,0.1619,0.09730,Current,4699.000000,False,5000.0,0.00
109,10C23461228816873E20817,2009-09-02 03:17:56.993000000,2010-01-20 00:00:00,2010-01-05 13:09:15,NaN,36,1,2000,0.1234,0.04600,Completed,5833.333333,True,3000.0,1280.27
110,10C53499552694250BE1012,2010-11-21 16:34:22.307000000,2010-11-30 00:00:00,2010-11-21 16:34:17,NaN,36,7,3000,0.3100,0.09940,Completed,4666.666667,True,6000.0,0.00
124,10DF35877947474891E2343,2013-08-21 14:38:44.203000000,2013-08-27 00:00:00,2013-08-21 14:38:32,NaN,60,1,15000,0.1769,0.10010,Current,7916.666667,True,26500.0,0.00
133,10F935536234979271B22A5,2012-08-06 16:58:47.380000000,2012-08-08 00:00:00,2012-08-06 16:58:45,NaN,60,11,5000,0.1364,0.10100,Current,2750.000000,False,1500.0,546.86
138,11273541569159931E84F17,2012-03-16 09:22:33.393000000,2012-03-21 00:00:00,2012-03-06 11:00:20,NaN,36,6,3000,0.2999,0.12760,Defaulted,3750.000000,True,2000.0,0.00
139,112A35420359988673C6984,2012-03-22 19:11:18.370000000,2012-03-27 00:00:00,2012-03-22 19:11:15,NaN,36,2,2500,0.2999,0.12760,Past Due (1-15 days),1835.416667,False,2000.0,1621.63
147,34B034630579271407DEE75,2009-09-04 13:01:25.240000000,2009-09-22 00:00:00,2009-09-04 12:52:12,NaN,36,6,2200,0.0712,0.05520,Completed,4169.333333,False,2000.0,0.00
149,11333603204329069669540,2014-02-25 04:40:18.983000000,2014-02-27 00:00:00,2014-02-25 04:40:22,NaN,36,1,3333,0.2504,0.09162,Current,7166.666667,True,4000.0,0.00
150,10683423770994576084943,2008-06-12 11:59:55.217000000,2010-05-19 00:00:00,2010-05-07 09:12:07,NaN,36,7,6500,0.0830,NaN,Completed,5833.333333,True,17500.0,0.02
155,10823544952906119C8A3E7,2012-04-24 12:50:16.713000000,2012-04-30 00:00:00,2012-04-24 12:50:14,NaN,60,3,15000,0.1830,0.12800,Completed,6333.333333,False,2550.0,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113781,C6DF36000953088984E59E0,2014-01-30 10:33:37.413000000,2014-02-03 00:00:00,2014-01-26 08:03:15,NaN,60,3,10000,0.1314,0.07077,Current,3418.166667,False,12000.0,0.00
113782,C6E23475838191184A2F7E6,2010-02-07 19:52:48.317000000,2010-02-17 00:00:00,2010-01-30 21:13:49,NaN,36,2,8400,0.2740,0.15740,Completed,5583.333333,True,7000.0,0.00
113784,CF4C3593704223935C8DEF5,2013-11-05 20:51:45.540000000,2013-11-14 00:00:00,2013-11-05 20:51:48,NaN,36,1,15000,0.0990,0.06153,Current,8583.333333,True,25000.0,13434.38
113788,CF7A3581919500332B72FF4,2013-06-19 10:57:19.807000000,2013-06-26 00:00:00,2013-06-19 10:57:07,NaN,60,1,10000,0.1874,0.10440,Current,5774.833333,True,21000.0,5264.22
113789,CF7D360314586070746CBB7,2014-03-01 07:47:47.600000000,2014-03-04 00:00:00,2014-03-01 07:47:50,NaN,36,1,20000,0.1159,0.06417,Current,5777.333333,True,2500.0,1186.40
113792,E43C3548328183436FD70FD,2012-05-23 15:08:31.490000000,2012-05-25 00:00:00,2012-05-23 15:08:28,NaN,36,1,8000,0.2287,0.11440,Completed,20000.000000,True,7500.0,4500.33
113800,E47B3539875642302BD7F39,2012-02-17 05:18:41.473000000,2012-02-21 00:00:00,2012-02-17 05:18:38,NaN,12,1,3370,0.1259,0.05240,Completed,6250.000000,False,3600.0,0.00
113802,DE9E35570626440373F2840,2012-09-05 13:37:08.920000000,2012-11-06 00:00:00,2012-11-01 08:47:02,NaN,36,1,4000,0.3177,0.11740,Completed,3127.166667,False,16622.0,0.00
113813,C6E835320274534389038B8,2011-11-18 03:38:02.983000000,2011-11-30 00:00:00,2011-11-18 03:37:59,NaN,60,1,15000,0.2589,0.15800,Current,8166.666667,True,25500.0,6192.59
113821,CF9D35995956313059A9841,2014-01-05 16:05:56.257000000,2014-01-09 00:00:00,2014-01-05 16:05:58,NaN,36,1,13200,0.1795,0.08027,Current,5216.666667,False,7300.0,0.00
113840,DF02347078638032910ED21,2009-12-03 13:48:16.773000000,2009-12-14 00:00:00,2009-11-23 16:07:37,NaN,36,7,1400,0.2000,0.12060,Defaulted,2000.000000,False,1000.0,328.41
113842,DF0D3497278986674B6AA3E,2010-10-25 18:14:30.287000000,2010-11-03 00:00:00,2010-10-13 05:57:13,NaN,36,1,1000,0.2975,0.03070,Completed,6250.000000,True,3000.0,2382.79
113844,DF2235930095582149BB088,2013-10-22 15:02:17.593000000,2013-11-04 00:00:00,2013-10-22 15:02:20,NaN,36,7,15000,0.1299,0.07487,Current,4631.250000,False,19500.0,0.01
113849,FFF23553008290953A64A4C,2012-07-25 18:27:31.597000000,2012-07-30 00:00:00,2012-07-25 18:27:30,NaN,36,13,2000,0.1599,0.09240,Current,3000.000000,True,2500.0,0.00
113855,DF45360176809914475660A,2014-02-15 18:43:57.650000000,2014-02-25 00:00:00,2014-02-15 18:43:59,NaN,36,3,8500,0.1189,0.06706,Current,6666.666667,False,3000.0,0.00
113860,C7293510325393308F24E59,2011-03-14 12:10:04.630000000,2011-03-22 00:00:00,2011-03-14 12:10:01,NaN,36,1,7500,0.1099,0.04880,Current,5966.666667,False,5000.0,0.02
113868,D1BA3493924562804523377,2010-08-25 18:57:24.790000000,2010-09-08 00:00:00,2010-08-17 17:45:01,NaN,36,1,6000,0.3000,0.18470,Completed,8300.000000,True,2000.0,528.20
113869,D1BC35453654346955F1438,2012-04-18 17:10:48.980000000,2012-04-20 00:00:00,2012-04-18 17:10:46,NaN,60,1,10000,0.2220,0.14200,Completed,1666.666667,True,4000.0,3328.07
113881,E2C73590325077098CCF6F5,2013-10-09 10:09:28.530000000,2013-10-23 00:00:00,2013-10-09 10:09:31,NaN,60,7,19432,0.1730,0.08524,Current,8166.666667,True,24750.0,13259.68
113886,E2E83591155138642787408,2013-10-06 01:25:25.037000000,2013-10-10 00:00:00,2013-10-06 01:25:29,NaN,36,1,10000,0.1399,0.07890,Current,3750.000000,False,6500.0,3001.24
113893,E31A36014701412354CD6A2,2014-01-30 08:18:26.497000000,2014-02-03 00:00:00,2014-01-30 08:18:29,NaN,36,2,12000,0.0930,0.05568,Current,5000.000000,True,18000.0,5668.59
113894,E32734699821101105178D8,2009-12-15 18:50:46.193000000,2009-12-28 00:00:00,2009-12-15 18:44:41,NaN,36,3,1000,0.0700,0.05400,Completed,7500.000000,True,1000.0,0.00
113895,E69A3594436153917365EF9,2013-11-12 19:23:58.323000000,2013-12-16 00:00:00,2013-11-12 19:24:00,NaN,60,2,14000,0.1800,0.08627,Current,7500.000000,True,38000.0,19909.42
113912,C98A3597264633447D66DF9,2013-12-16 16:36:00.990000000,2013-12-20 00:00:00,2013-12-16 16:36:03,NaN,36,2,4000,0.0605,0.04260,Current,2500.000000,False,6000.0,0.00
113920,D20E358076984586576526D,2013-06-11 05:49:40.247000000,2013-06-13 00:00:00,2013-06-11 05:49:29,NaN,36,1,4000,0.3134,0.11850,Current,5208.333333,True,12000.0,7340.92
113924,E340356181565702714DBCE,2012-10-20 19:15:52.670000000,2012-10-23 00:00:00,2012-10-20 19:15:50,NaN,60,13,5000,0.1499,0.09970,Current,3208.333333,False,9300.0,5094.62
113928,E34935176664905343E01EA,2011-06-06 19:02:44.443000000,2011-06-10 00:00:00,2011-06-03 16:06:00,NaN,36,3,2000,0.1899,0.11470,Completed,2333.333333,False,14250.0,0.02
113930,E35D3584034795373BCD69A,2013-07-08 10:24:49.700000000,2013-07-10 00:00:00,2013-07-08 10:24:38,NaN,36,1,3000,0.1639,0.08780,Current,6250.000000,True,2000.0,889.75
113933,E6DB353036033497292EE43,2011-11-03 20:42:55.333000000,2011-11-07 00:00:00,2011-11-03 20:42:53,NaN,36,7,2000,0.1110,0.08070,FinalPaymentInProgress,8041.666667,True,33501.0,4815.42
113935,E6EB3531504622671970D9E,2011-11-14 13:18:26.597000000,2011-11-21 00:00:00,2011-11-14 13:18:24,NaN,60,2,15000,0.2605,0.15950,Completed,3875.000000,True,5000.0,3264.37

In [57]:
df.LoanStatus.value_counts()

Current                   56576
Completed                 38074
Chargedoff                11992
Defaulted                  5018
Past Due (1-15 days)        806
Past Due (31-60 days)       363
Past Due (61-90 days)       313
Past Due (91-120 days)      304
Past Due (16-30 days)       265
FinalPaymentInProgress      205
Past Due (>120 days)         16
Cancelled                     5
Name: LoanStatus, dtype: int64