# <font color=#cc0012>Prosper</font>

Prosper was founded in 2005 as the first peer-to-peer lending marketplace in the United States. Since then, Prosper has facilitated more than $14 billion in loans to more than 870,000 people.

Borrowers apply online for a fixed-rate, fixed-term loan between \$2000 and \$40000. Individuals and institutions can invest in the loans and earn attractive returns. Prosper handles all loan servicing on behalf of the matched borrowers and investors.

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv("prosper-loan-data.csv")

In [4]:
df.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [59]:
keys = ["ListingKey","ListingCreationDate","LoanOriginationDate","DateCreditPulled","ProsperRating (Alpha)","Term","ListingCategory (numeric)","LoanOriginalAmount","BorrowerRate","EstimatedReturn","LoanStatus","StatedMonthlyIncome","IsBorrowerHomeowner","ProsperPrincipalBorrowed","ProsperPrincipalOutstanding"]

In [60]:
df[keys].head()

,ListingKey,ListingCreationDate,LoanOriginationDate,DateCreditPulled,ProsperRating (Alpha),Term,ListingCategory (numeric),LoanOriginalAmount,BorrowerRate,EstimatedReturn,LoanStatus,StatedMonthlyIncome,IsBorrowerHomeowner,ProsperPrincipalBorrowed,ProsperPrincipalOutstanding
0,1021339766868145413AB3B,2007-08-26 19:09:29.263000000,2007-09-12 00:00:00,2007-08-26 18:41:46.780000000,NaN,36,0,9425,0.1580,NaN,Completed,3083.333333,True,NaN,NaN
1,10273602499503308B223C1,2014-02-27 08:28:07.900000000,2014-03-03 00:00:00,2014-02-27 08:28:14,A,36,2,10000,0.0920,0.05470,Current,6125.000000,False,NaN,NaN
2,0EE9337825851032864889A,2007-01-05 15:00:47.090000000,2007-01-17 00:00:00,2007-01-02 14:09:10.060000000,NaN,36,0,3001,0.2750,NaN,Completed,2083.333333,False,NaN,NaN
3,0EF5356002482715299901A,2012-10-22 11:02:35.010000000,2012-11-01 00:00:00,2012-10-22 11:02:32,A,36,16,10000,0.0974,0.06000,Current,2875.000000,True,NaN,NaN
4,0F023589499656230C5E3E2,2013-09-14 18:38:39.097000000,2013-09-20 00:00:00,2013-09-14 18:38:44,D,36,2,15000,0.2085,0.09066,Current,9583.333333,True,11000.0,9947.9

In [61]:
loans = df[keys]

## <font color=#b30069> Assessment </font>

In [62]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 15 columns):
ListingKey                     113937 non-null object
ListingCreationDate            113937 non-null object
LoanOriginationDate            113937 non-null object
DateCreditPulled               113937 non-null object
ProsperRating (Alpha)          84853 non-null object
Term                           113937 non-null int64
ListingCategory (numeric)      113937 non-null int64
LoanOriginalAmount             113937 non-null int64
BorrowerRate                   113937 non-null float64
EstimatedReturn                84853 non-null float64
LoanStatus                     113937 non-null object
StatedMonthlyIncome            113937 non-null float64
IsBorrowerHomeowner            113937 non-null bool
ProsperPrincipalBorrowed       22085 non-null float64
ProsperPrincipalOutstanding    22085 non-null float64
dtypes: bool(1), float64(5), int64(3), object(6)
memory usage: 9.7+ MB

In [64]:
loans[(loans["ProsperRating (Alpha)"].isnull()) & (loans["ProsperPrincipalBorrowed"].notnull())]

,ListingKey,ListingCreationDate,LoanOriginationDate,DateCreditPulled,ProsperRating (Alpha),Term,ListingCategory (numeric),LoanOriginalAmount,BorrowerRate,EstimatedReturn,LoanStatus,StatedMonthlyIncome,IsBorrowerHomeowner,ProsperPrincipalBorrowed,ProsperPrincipalOutstanding
46,0F8B34281015537050D4FEC,2008-08-05 19:42:49.197000000,2008-08-15 00:00:00,2008-08-05 19:36:35.233000000,NaN,36,1,4000,0.1500,NaN,Completed,3166.666667,False,6000.0,4317.11
78,0DFE3425061927556BB8A75,2008-06-29 23:23:40.157000000,2008-07-08 00:00:00,2008-06-29 23:13:04.860000000,NaN,36,3,4800,0.1700,NaN,Chargedoff,0.000000,True,7750.0,6725.84
101,0F6A3407615179140F880BF,2007-12-23 12:09:24,2008-01-08 00:00:00,2007-12-23 11:58:02.563000000,NaN,36,1,2932,0.1895,NaN,Chargedoff,7416.666667,True,25000.0,21862.26
127,10F83416199324455232962,2008-03-13 12:04:51.623000000,2008-03-21 00:00:00,2008-03-11 11:47:42.457000000,NaN,36,1,2551,0.2745,NaN,Chargedoff,2946.666667,False,5550.0,2331.40
150,10683423770994576084943,2008-06-12 11:59:55.217000000,2010-05-19 00:00:00,2010-05-07 09:12:07,NaN,36,7,6500,0.0830,NaN,Completed,5833.333333,True,17500.0,0.02
201,10E533983959116999E3768,2007-08-30 20:56:07.907000000,2007-09-13 00:00:00,2007-08-19 08:47:21.187000000,NaN,36,0,20000,0.1500,NaN,Completed,6666.666667,False,10000.0,0.00
241,2EBC3426392173872AC3827,2008-07-06 11:49:51.040000000,2008-07-08 00:00:00,2008-07-06 11:28:34.030000000,NaN,36,7,1100,0.3500,NaN,Completed,2702.916667,False,1000.0,555.68
421,31773411053375955CA3F3E,2008-01-18 15:07:50.917000000,2008-02-04 00:00:00,2008-01-10 13:00:54.947000000,NaN,36,4,1000,0.2200,NaN,Completed,5865.000000,False,3000.0,2514.71
443,09B334070789257072E536C,2007-11-29 16:15:27.480000000,2007-12-12 00:00:00,2007-11-29 16:01:10.660000000,NaN,36,0,3750,0.0950,NaN,Completed,2166.666667,False,2550.0,1724.48
521,321E340424193323634BB93,2007-11-14 19:33:38.060000000,2007-11-21 00:00:00,2007-11-14 19:26:23.147000000,NaN,36,0,5000,0.1670,NaN,Completed,30166.666667,True,25000.0,19746.79
528,3BBA345088754410516372A,2009-04-28 14:08:57.100000000,2010-04-29 00:00:00,2010-04-16 02:06:58,NaN,36,1,10000,0.1500,NaN,Completed,2166.666667,True,7500.0,0.00
582,459D3418266771185D80EBB,2008-04-05 13:39:53.270000000,2008-04-14 00:00:00,2008-03-30 05:35:52.787000000,NaN,36,1,2551,0.2200,NaN,Completed,2916.666667,True,12551.0,0.00
725,0A333418840357177C59FEC,2008-04-27 19:21:57.207000000,2009-11-12 00:00:00,2009-10-22 11:37:32,NaN,36,1,2348,0.0800,NaN,Completed,1400.000000,False,5000.0,1689.63
781,31803417032608077E3BF2D,2008-04-06 00:06:46.820000000,2008-04-10 00:00:00,2008-04-03 23:58:34.053000000,NaN,36,3,1800,0.1371,NaN,Completed,2211.166667,False,5800.0,5076.21
795,00F0343244233918981458D,2008-09-14 13:41:52.210000000,2008-09-23 00:00:00,2008-09-14 13:41:33.707000000,NaN,36,7,10000,0.1320,NaN,Completed,3433.333333,True,12000.0,8919.77
796,028C341369191670823894C,2008-03-03 11:25:13.360000000,2008-03-12 00:00:00,2008-03-03 11:21:42.397000000,NaN,36,1,2500,0.1080,NaN,Completed,6711.000000,True,10000.0,6567.02
927,3E393418801908904F734EB,2008-04-16 11:17:01.527000000,2008-04-24 00:00:00,2008-04-16 10:00:00.017000000,NaN,36,4,3000,0.0935,NaN,Completed,2416.666667,True,2000.0,488.63
962,32763431438264028DA5E86,2008-09-13 11:51:40.320000000,2008-09-26 00:00:00,2008-08-16 11:18:30.800000000,NaN,36,1,14000,0.1600,NaN,Defaulted,10833.333333,True,3500.0,2059.30
1004,2E1E341339094190219FF44,2008-02-20 10:46:38.547000000,2008-02-26 00:00:00,2008-02-19 11:57:36.860000000,NaN,36,1,1500,0.2400,NaN,Defaulted,2833.333333,False,2600.0,2287.03
1005,2E29341833986637037BD06,2008-04-05 10:19:03.943000000,2008-04-14 00:00:00,2008-04-05 10:07:42.637000000,NaN,36,4,6001,0.1364,NaN,Completed,5833.333333,False,6001.0,4645.23
1076,0A623425302359416A5D971,2008-07-13 08:48:40.583000000,2008-07-23 00:00:00,2008-07-13 08:39:20.973000000,NaN,36,1,4000,0.1695,NaN,Chargedoff,12083.333333,True,2900.0,1430.70
1096,2EDA341431574446356C8B5,2008-03-07 10:32:50.363000000,2008-03-14 00:00:00,2008-02-22 11:51:57.707000000,NaN,36,3,7400,0.1080,NaN,Chargedoff,13333.333333,True,25000.0,17392.04
1134,2EF13421061165476DDF730,2008-05-04 17:23:35.570000000,2008-05-14 00:00:00,2008-04-23 13:19:45.620000000,NaN,36,2,4000,0.1593,NaN,Defaulted,4583.333333,True,2500.0,1462.62
1142,026A3430080076772A0C8EF,2008-08-19 07:33:48.420000000,2008-09-03 00:00:00,2008-08-19 07:33:03.637000000,NaN,36,6,3300,0.1400,NaN,Completed,5000.000000,True,7100.0,5580.10
1162,09D9342016981978829A48A,2008-05-06 13:43:57.777000000,2008-05-20 00:00:00,2008-04-23 13:10:27.207000000,NaN,36,4,2000,0.1580,NaN,Chargedoff,5500.000000,False,6001.0,2452.20
1202,3769342939275188913D6F5,2008-08-17 21:09:08.673000000,2008-09-23 00:00:00,2008-08-17 21:09:02.957000000,NaN,36,5,2500,0.2700,NaN,Completed,3500.000000,False,6500.0,0.00
1608,31233426635894494168E7E,2008-07-16 14:12:04.593000000,2008-07-24 00:00:00,2008-06-29 10:17:51.710000000,NaN,36,3,3500,0.2150,NaN,Chargedoff,2160.000000,True,10101.0,7721.12
1626,031434246499496673A8C83,2008-07-04 18:00:51.063000000,2008-07-17 00:00:00,2008-07-04 17:56:31.603000000,NaN,36,1,5000,0.2504,NaN,Completed,7083.333333,True,2000.0,0.00
1670,032434101476267742121AD,2007-12-31 09:18:26.250000000,2008-01-14 00:00:00,2007-12-27 09:46:14.923000000,NaN,36,7,3500,0.2800,NaN,Completed,8750.000000,True,4000.0,3407.21
1711,3A0233988604843152E9294,2007-09-10 11:11:24.017000000,2007-09-24 00:00:00,2007-09-10 10:57:20.480000000,NaN,36,0,24999,0.0945,NaN,Completed,20427.000000,True,30000.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112236,F33F3430127682069FD82FD,2008-09-08 08:07:16.863000000,2008-09-15 00:00:00,2008-09-08 08:06:34.283000000,NaN,36,1,6500,0.3500,NaN,Completed,9583.333333,True,2000.0,0.00
112265,D7B43427505364977E574C3,2008-08-10 09:01:54.130000000,2008-08-20 00:00:00,2008-07-13 14:13:33.960000000,NaN,36,7,3500,0.2300,NaN,Completed,3333.333333,True,3000.0,2099.01
112315,C4A134204666711188C783A,2008-05-12 12:13:19.930000000,2008-05-21 00:00:00,2008-05-12 11:56:00.810000000,NaN,36,1,13800,0.2414,NaN,Completed,3166.666667,False,2500.0,0.00
112383,D1F434206040633271E493A,2008-05-05 11:14:12.510000000,2008-05-16 00:00:00,2008-04-27 13:25:10.680000000,NaN,36,3,7500,0.1481,NaN,Defaulted,0.000000,True,2500.0,0.00
112401,BE2C3405676093406D84C68,2007-11-30 19:07:09.933000000,2007-12-11 00:00:00,2007-11-30 18:20:40.687000000,NaN,36,0,4000,0.2169,NaN,Chargedoff,2166.666667,False,1200.0,917.84
112422,F7AE342710917013738786C,2008-08-04 17:56:20.023000000,2008-08-07 00:00:00,2008-07-14 09:53:00.677000000,NaN,36,7,5900,0.3500,NaN,Defaulted,7083.333333,False,4000.0,1537.90
112523,FA0E3407513388318608A6A,2007-12-07 10:14:35.090000000,2007-12-18 00:00:00,2007-11-29 11:04:49.200000000,NaN,36,3,3100,0.3500,NaN,Completed,5083.333333,True,3500.0,2640.17
112712,E2CD341127391966656EBA3,2008-01-17 10:03:22.690000000,2008-01-23 00:00:00,2007-12-27 14:16:37.497000000,NaN,36,3,2850,0.2400,NaN,Chargedoff,0.083333,False,4800.0,3957.83
112878,D2863409195999444F73882,2007-12-21 08:29:39.673000000,2008-01-02 00:00:00,2007-12-17 08:51:33.423000000,NaN,36,4,1500,0.3500,NaN,Completed,3750.000000,True,3000.0,1961.05
112937,E7563409955413607F68B2E,2008-01-13 17:40:23.587000000,2008-01-25 00:00:00,2008-01-14 10:28:42.033000000,NaN,36,1,1200,0.2138,NaN,Completed,4041.666667,True,2500.0,2044.35
112999,E7F03414156541809421D61,2008-02-26 05:22:36.457000000,2008-03-11 00:00:00,2008-02-26 05:15:28.200000000,NaN,36,1,6000,0.2200,NaN,Completed,3666.666667,True,3001.0,544.92
113022,D5703397897023536DDCF24,2007-08-26 19:41:33.630000000,2007-09-05 00:00:00,2007-08-26 19:26:50.237000000,NaN,36,0,1000,0.0699,NaN,Completed,4052.000000,True,1000.0,0.00
113026,D5A434268713779195A9BBA,2008-07-23 16:28:02.330000000,2008-08-05 00:00:00,2008-07-23 16:20:50.600000000,NaN,36,7,1200,0.1745,NaN,Completed,2916.666667,False,3001.0,1661.88
113147,EE0D342107928745194F1D8,2008-05-22 13:44:41.163000000,2008-05-30 00:00:00,2008-05-13 14:10:58.270000000,NaN,36,2,6500,0.2899,NaN,Chargedoff,3750.000000,True,16000.0,12717.62
113169,D9523409032526351D454D9,2007-12-22 15:52:29.270000000,2007-12-31 00:00:00,2007-12-22 15:47:07.920000000,NaN,36,4,1500,0.1350,NaN,Completed,5597.583333,False,2000.0,0.00
113188,EE1A34125451750825EF226,2008-02-14 14:21:19.103000000,2008-02-20 00:00:00,2008-02-14 10:25:33.737000000,NaN,36,3,6000,0.1550,NaN,Completed,3750.000000,True,15000.0,12916.48
113203,DBD634233093282919FB65B,2008-06-17 07:57:30.550000000,2008-06-25 00:00:00,2008-06-17 07:03:52.283000000,NaN,36,3,5000,0.1773,NaN,Defaulted,6583.333333,True,3001.0,0.00
113205,DBE23429969308690638BCB,2008-08-19 15:58:02.360000000,2008-08-28 00:00:00,2008-08-05 15:20:15.323000000,NaN,36,1,6000,0.3329,NaN,Chargedoff,5827.583333,False,5450.0,0.00
113425,D7093426345724019AA5767,2008-07-20 20:27:03.317000000,2008-07-29 00:00:00,2008-07-18 20:04:46.423000000,NaN,36,5,15000,0.1685,NaN,Completed,4750.000000,True,10000.0,0.00
113458,E26A342066347518388FAAE,2008-05-03 17:08:28.200000000,2008-05-06 00:00:00,2008-05-03 17:03:43.837000000,NaN,36,5,1000,0.1880,NaN,Completed,7083.333333,True,5000.0,2942.70
113479,F6773410347960189D25F0E,2008-01-02 05:33:38.063000000,2008-01-10 00:00:00,2007-12-19 11:57:17.213000000,NaN,36,1,3500,0.2600,NaN,Completed,5250.000000,False,3500.0,2802.46
113485,DA153422134287105784C7D,2008-05-29 19:20:20.503000000,2008-06-09 00:00:00,2008-05-29 18:27:16.033000000,NaN,36,4,6000,0.1730,NaN,Completed,0.000000,True,10000.0,7768.47
113517,F6B434235328414801924AE,2008-06-10 16:37:31.540000000,2008-06-19 00:00:00,2008-06-03 16:07:24.290000000,NaN,36,1,10000,0.1911,NaN,Defaulted,4000.000000,True,5000.0,1384.38
113678,FD9A3416215762467E1A5A5,2008-03-16 16:48:27.613000000,2008-03-28 00:00:00,2008-03-16 16:45:18.020000000,NaN,36,1,6000,0.1045,NaN,Completed,2166.666667,True,8000.0,6833.96
113785,CF5E3421929977128B83CE2,2008-05-21 12:22:43.767000000,2008-05-28 00:00:00,2008-05-13 22:06:38.203000000,NaN,36,1,3000,0.2999,NaN,Chargedoff,4491.666667,False,1000.0,639.32
113803,DEA93427782854712C73CB8,2008-08-01 01:42:00.820000000,2008-08-12 00:00:00,2008-08-01 01:40:12.270000000,NaN,36,7,5000,0.0990,NaN,Defaulted,0.000000,True,1000.0,724.82
113804,DEB2341377319696802F2FD,2008-02-16 19:23:45.313000000,2008-02-26 00:00:00,2008-01-20 19:49:32.797000000,NaN,36,1,5000,0.2500,NaN,Completed,13333.333333,False,5000.0,4336.45
113843,DF1B34173558923433980EF,2008-04-08 18:49:03.347000000,2008-04-15 00:00:00,2008-04-07 19:37:12.623000000,NaN,36,3,6001,0.1420,NaN,Completed,3250.000000,False,2000.0,1702.14
113915,D2053427325575423785798,2008-07-29 05:22:29.390000000,2008-08-06 00:00:00,2008-07-23 07:48:01.427000000,NaN,36,7,3000,0.2000,NaN,Completed,4416.666667,True,6001.0,0.00
113927,E3433419834735803891976,2008-04-30 21:25:19.670000000,2008-05-09 00:00:00,2008-04-30 21:20:54.587000000,NaN,36,4,4292,0.0679,NaN,Completed,10333.333333,True,1000.0,847.61

In [57]:
df.LoanStatus.value_counts()

Current                   56576
Completed                 38074
Chargedoff                11992
Defaulted                  5018
Past Due (1-15 days)        806
Past Due (31-60 days)       363
Past Due (61-90 days)       313
Past Due (91-120 days)      304
Past Due (16-30 days)       265
FinalPaymentInProgress      205
Past Due (>120 days)         16
Cancelled                     5
Name: LoanStatus, dtype: int64